.inputBox{
    margin: 50px;
}

.inputItem{
    border: 1px solid;
    margin-right: 10px;
    height: 17px;
}
button{
    font-size: 16px;
    background: #c1c1c1;
    border-radius: 4px;
    border: 1px solid;
}